.main {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}
.title {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
}
.input-container {
  width: 40%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}
.input-container > div {
  width: 90%;
}
.input-container > div > textarea {
  border-radius: 20px;
}
.input-container > div > label {
  color: rgb(179, 178, 178);
}
.input-container > button {
  border-radius: 50%;
}
#list-todo {
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}
#list-done {
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}
#list-todo > .list-group {
  border-radius: 20px;
}
.two-buttons {
  gap: 5px;
  float: right;
}
.edit-button {
  border-radius: 50%;
  border-color: transparent;
  box-shadow: none;
  background-color: darkblue;
  color: white;
}
.delete-button {
  border-radius: 50%;
  border-color: transparent;
  box-shadow: none;
  background-color: red;
  color: white;
}
.confirm-button {
  border-radius: 5px;
  border-color: transparent;
  box-shadow: none;
  background-color: rgb(4, 229, 0);
  color: white;
}
.cancel-button {
  border-radius: 5px;
  border-color: transparent;
  box-shadow: none;
  background-color: grey;
  color: white;
}
.checked {
  text-decoration: line-through;
  font-style: italic;
  color: grey;
}
/* toast message - default */
#toast_message {
  opacity: 0;
  position: fixed;
  bottom: -100px;
  left: 50%;
  transform: translate(-50%, 0);
  padding: 10px 50px;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 100px;
  color: #fff;
  box-shadow: 3px 4px 11px 0px #00000040;
  transition: all 0.5s;
}
/* If toast message is active */
#toast_message.active {
  opacity: 100%;
  bottom: 50px;
}
